# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# Packaging
build/
dist/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Env files
.env
.env.*

# OS files
.DS_Store

# Editor
.vscode/
.idea/
